.header{
    opacity: 0;
}
.name{
    font-family: 'DidactGothicMedium', sans-serif;
    text-align: center;
    font-size: 70px;
    letter-spacing: 1%;
    font-weight: bold;
    color: #3F3F3F;
}
.social-icons {
    position: relative;
    text-align: center;
}
.button{
    display: inline-block;
    background-color: transparent;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition:  0.3s;
}
.button:link, .button:visited, .button:hover, .button:active {
    color: inherit;
    text-decoration: none;
}
.social-button {
    border: 2px solid #3F3F3F;
    color: #3F3F3F;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.social-button:hover{
    background-color: #3F3F3F;
    color: #AFAFAF;
}
.social-button:active{
    transform : scale(0.9);
}
.social-button i {
    font-size: 25px;
    top: 25%;
    position: relative;
}
.photo{
    opacity: 0;
    left: 50%;
    top: 50vh;
    transform: translate(-75%, -50%);
}
.about{
    font-family: 'DidactGothicMedium', sans-serif;
    text-align: center;
    font-size: 26px;
    letter-spacing: 1%;
    left: 50%;
    width: 80%;
    top: 50vh;
    transform: translate(-25%, -50%);
    font-weight: bold;
    color: #AFAFAF;
}
.resume-button{
    color: #AFAFAF;
    border: 2px solid #AFAFAF;
    border-radius: 7px;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;

}
.resume-button:hover{
    background-color: #AFAFAF;
    color: #3F3F3F;
}
.resume-button:active{
    transform : scale(0.9);
}
.animated{
    position: relative;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition:  1s;
}

.shift.triggeredCSS3 {
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -o-transition: 2s;
    transition:  2s;
    transition-timing-function: ease;
    transform : translate(-50%, -50%);
    transition-delay: 0.1s;
}
.fade.triggeredCSS3 {
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -o-transition: 2s;
    transition:  2s;
    transition-timing-function: ease;
    opacity: 1;
}

html{
    overflow: hidden;
    box-sizing: border-box;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

*, *::before, *::after{
    box-sizing:inherit;
}

body{
    height: 100vh;
    margin:0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-perspective: 1px;
    perspective: 1px;
}

.parallax__layer__0{
    bottom: -80vh;
    left: -50vw;
    height: 100vh;
}

.parallax__layer__1{
    -webkit-transform: translateZ(-1px) scale(2);
    -moz-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);
    bottom: -7vh;
    left: -50vw;
}

.parallax__layer__2{
    -webkit-transform: translateZ(-2px) scale(2);
    -moz-transform: translateZ(-2px) scale(2);
    transform: translateZ(-2px) scale(2);
    bottom: -27vh;
    left: -50%;
}
.parallax__layer__3{
    -webkit-transform: translateZ(-3px) scale(4);
    -moz-transform: translateZ(-3px) scale(4);
    transform: translateZ(-3px) scale(4);
    bottom: 0vh;
    left: calc(50vw - 960px);
}

.parallax__layer__4{
    -webkit-transform: translateZ(-4px) scale(4);
    -moz-transform: translateZ(-4px) scale(4);
    transform: translateZ(-4px) scale(4);
    bottom: -20vh;

}

.parallax__layer__5{
    -webkit-transform: translateZ(-5px) scale(5);
    -moz-transform: translateZ(-5px) scale(5);
    transform: translateZ(-5px) scale(5);
    bottom: -50vh;
}
.parallax__layer{
    position: absolute;
}

.city{
    background: #007BFF; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#007BFF , white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#007BFF, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#007BFF, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#007BFF , white); /* Standard syntax */
    height: 100vh;
    width: 100vw;
}

.water{
    z-index: 1;
    position: absolute;
    background: #007BFF; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#0066F9 , #002E71); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0066F9 , #002E71); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0066F9 , #002E71); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0066F9 , #002E71);
    top: 100vh;
    width: 110vw;
    height: 100vh;
}
.deep-water{
    z-index: 1;
    position: absolute;
    background: #002E71; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#002E71 ,black 84%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#002E71 , black 84%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#002E71 , black 84%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#002E71 , black 84%);
    top: 200vh;
    width: 110vw;
    height: 100vh;
}
.svg{
  height:100vh;
  bottom:0;
}
::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width: 1280px) and (max-height: 720px){
    .name{
        font-size: 42px;
    }
}
@media only screen and (max-height: 660px){
    .parallax__layer{
        bottom: -50%;
    }
    .parallax__layer__0{
        bottom: -84vh;
        left: -50vw;
    }
    .parallax__layer__1{
        display: none
    }
    .parallax__layer__2{
        display: none;
    }
    .parallax__layer__3{
        bottom: -60vh;
    }
    .parallax__layer__4{
        bottom: -220vh;
        height: 100vh;
    }
    .parallax__layer__5{
        bottom: -340vh;
        height: 100vh;
    }
}
@media only screen and (min-height: 1440px){
    .name{
        font-size: 100px;
    }
    .social-button {
        width: 80px;
        height: 80px;
    }
    .social-button i {
        font-size: 40px;
    }
    .about{
        font-size: 42px;
    }
    .photo{
        width: 75%;
    }
    .parallax__layer{
        bottom: -50%;
    }
    .parallax__layer__0{
        bottom: -80vh;
        left: -50vw;
    }
    .parallax__layer__1{
        bottom: -9vh;
        left: -50vw;
    }
    .parallax__layer__2{
        bottom: -34vh;
        left: -50vw;
        width: 300vw;
    }
    .parallax__layer__3{
        bottom: -32vh;
        left: 0vw;
    }
    .parallax__layer__4{
        bottom: -260vh;
        height: 100vh;
    }
    .parallax__layer__5{
        bottom: -330vh;
        height: 100vh;
    }
}
@media only screen and (max-width: 767px){
    .photo{
        width: 40%;
        top: 20vh;
    }
    .about{
        top: 35vh;
    }
}
@media only screen and (max-height: 740px){
    .about{
        font-size: 16px;
    }
}
