.name{
    font-family: 'Didact Gothic', sans-serif;
    text-align: center;
    font-size: 42px;
    letter-spacing: 1%;
    font-weight: bold;
    color: #3F3F3F;
}
.wip{
    position: fixed;
    z-index: 3;
    top: 300vh;
    font-size: 20px;
    font-family: 'Didact Gothic', sans-serif;
    text-align: center;
    letter-spacing: 1%;
    font-weight: bold;
    color: #3F3F3F;
}
.social-icons {
    position: relative;
    text-align: center;
}
.social-button {

    border: 2px solid #3F3F3F;
    color: #3F3F3F;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-block;
    background-color: transparent;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration:  0.5s;
}
.social-button:hover{
    background-color: #3F3F3F;
    color: #AFAFAF;
}
.social-button i {
    font-size: 25px;
    top: 25%;
    position: relative;
}

html{
    box-sizing: border-box;
    overflow: hidden;
}

*, *::before, *::after{
    box-sizing:inherit;
}

body{
    height: 100vh;
    margin:0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    background: #007BFF; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#007BFF , white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#007BFF, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#007BFF, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#007BFF , white); /* Standard syntax */
    -webkit-perspective: 1px;
    perspective: 1px;
}

.parallax{
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    height: 100vh;
    width: 100vw;
    position: relative;
}
.parallax__layer__0{
    -webkit-transform: translateZ(-1px) translateY(10%) translateX(-50%) scale(1);
    -moz-transform: translateZ(-1px) translateY(55%) translateX(-50%) scale(1);
    transform: translateZ(-1px) scale(1);
    height: 30vh;
    bottom: -40vh;
    left: -50vw;
    position: relative;
}

.parallax__layer__1{
    -webkit-transform: translateZ(-2px) translateY(45%) translateX(-50%) scale(1);
    -moz-transform: translateZ(-2px) translateY(45%) translateX(-50%) scale(1);
    transform: translateZ(-2px) scale(2);
    bottom: -33vh;
    left: -50vw;
    position: absolute;
}

.parallax__layer__2{
    -webkit-transform: translateZ(-3px) translateY(60%) translateX(-50%) scale(1);
    -moz-transform: translateZ(-3px) translateY(60%) translateX(-50%) scale(1);
    transform: translateZ(-3px) scale(3);
    bottom: -28vh;
    left: -50vw;
    position: absolute;
}
.parallax__layer__3{
    -webkit-transform: translateZ(-4px) scale(5);
    -moz-transform: translateZ(-4px) scale(5);
    transform: translateZ(-4px) scale(5);
    bottom: 5vh;
    position: absolute;
}

.parallax__layer__4{
    -webkit-transform: translateZ(-5px) scale(6);
    -moz-transform: translateZ(-5px) scale(6);
    transform: translateZ(-5px) scale(5);
    bottom: -20vh;
    left: -50vw;
    position: absolute;
}

.parallax__layer__5{
    -webkit-transform: translateZ(-6px) scale(4);
    -moz-transform: translateZ(-6px) scale(4);
    transform: translateZ(-6px) scale(5);
    bottom: -30vh;
    left: -50vw;
    position: absolute;
}

.parallax__layer{
    position: absolute;

}
.water{
    z-index=1;
    -webkit-transform: translateZ(-1px) translateY(110%) translateX(0%) scale(2);
    -moz-transform: translateZ(-1px) translateY(110%) translateX(0%) scale(2);
    transform: translateZ(-1px) translateY(110%) translateX(0%) scale(2);
    position: absolute;
    background: #007BFF; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#0066F9 , #000000); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0066F9 , #000000); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0066F9 , #000000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0066F9 , #000000);
    top: 75vh;
    width: 300vh;
    height: 125vh;
}
.svg{
  height:100vh;
  bottom:0;
}

::-webkit-scrollbar {
    display: none;
}
