.header{
    opacity: 0;
}
.didact{
    font-family: 'DidactGothicMedium', sans-serif;
    text-align: center;
    letter-spacing: 1%;
}
.title{
    font-size: 70px;
}
.name{
    color: #3F3F3F;
}
.section_title{
    position:absolute;
    left: 50%;
    top: 10vh;
    transform: translate(-50%, -100%);
    color: #AFAFAF;
}
.about{
    font-size: 26px;
    left: 50%;
    width: 80%;
    top: 40vh;
    transform: translate(-25%, -50%);
    color: #AFAFAF;
}
.description{
    font-size: 26px;
    top: 40vh;
    left: 50%;
    width: 80%;
    position: relative;
    transform: translate(-50%, -50%);
    color: #AFAFAF;
    z-index: 3;
}
.social-icons {
    position: relative;
    text-align: center;
}
.button{
    display: inline-block;
    background-color: transparent;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition:  0.3s;
}
.button:link, .button:visited, .button:hover, .button:active {
    color: inherit;
    text-decoration: none;
}
.social-button {
    border: 2px solid #3F3F3F;
    color: #3F3F3F;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.social-button:hover{
    background-color: #3F3F3F;
    color: #AFAFAF;
}
.social-button:active{
    transform : scale(0.9);
}
.social-button i {
    font-size: 25px;
    top: 25%;
    position: relative;
}
.photo{
    opacity: 0;
    left: 50%;
    top: 40vh;
    transform: translate(-75%, -50%);
}
.resume-button{
    color: #AFAFAF;
    border: 2px solid #AFAFAF;
    border-radius: 7px;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;

}
.resume-button:hover{
    background-color: #AFAFAF;
    color: #3F3F3F;
}
.resume-button:active{
    transform : scale(0.9);
}
.animated{
    position: relative;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition:  1s;
}

.shift.triggeredCSS3 {
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -o-transition: 2s;
    transition:  2s;
    transition-timing-function: ease;
    transform : translate(-50%, -50%);
    transition-delay: 0.1s;
}
.fade.triggeredCSS3 {
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -o-transition: 2s;
    transition:  2s;
    transition-timing-function: ease;
    opacity: 1;
}

html{
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

body{
    width: 100%;
    height: 100%;
    min-width: 0vw;
    position: absolute;
}
.slider{
    height: 100vh;
    width: 100vw;
    position: absolute;
    overflow-y: visible;
    overflow-x: hidden;
    -webkit-perspective: 1px;
    perspective: 1px;
    -webkit-perspective-origin-x: 100%;
    perspective-origin-x: 100%;
}

#parallax_layer_0{
    -webkit-transform: translateZ(0px) scale(1);
    -moz-transform: translateZ(0px) scale(1);
    transform: translateZ(0px) scale(1);
    bottom: 0vh;
    height: 20vh;
    width: 100vw;
    min-width: 0vw;
    z-index: 0;
}

#parallax_layer_1{
    -webkit-transform: translateZ(-1px) scale(2);
    -moz-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);
    bottom: -9vh;
    width: 110vw;
    left: -10vw;
    min-width: 0vw;
    z-index: -1;
}

#parallax_layer_2{
    -webkit-transform: translateZ(-2px) scale(3);
    -moz-transform: translateZ(-2px) scale(3);
    transform: translateZ(-2px) scale(3);
    bottom: -12vh;
    width: 105vw;
    left: -5vw;
    min-width: 0vw;
    z-index: -2;
}

#parallax_layer_3{
    -webkit-transform: translateZ(-3px) scale(4);
    -moz-transform: translateZ(-3px) scale(4);
    transform: translateZ(-3px) scale(4);
    bottom: 0vh;
    min-width: 0vw;
    z-index: -3;
}

#parallax_layer_4{
    -webkit-transform: translateZ(-4px) scale(5);
    -moz-transform: translateZ(-4px) scale(5);
    transform: translateZ(-4px) scale(5);
    bottom: -20vh;
    width: 100vw;
    min-width: 0vw;
    z-index: -4;
}

#parallax_layer_5{
    -webkit-transform: translateZ(-5px) scale(6);
    -moz-transform: translateZ(-5px) scale(6);
    transform: translateZ(-5px) scale(6);
    bottom: -60vh;
    width: 100vw;
    min-width: 0vw;
    z-index: -5;
}
.parallax_layer{
    position: absolute;
    overflow: hidden;
    -webkit-transform-origin-x: 100%;
    transform-origin-x: 100%;
}
.city{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    min-width: 0vw;
}
.bg{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: #007BFF; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#007BFF , white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#007BFF, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#007BFF, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#007BFF , white); /* Standard syntax */
    z-index: -6;
}

.water{
    z-index: 1;
    position: absolute;
    background: #007BFF; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#0066F9 , #002E71); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0066F9 , #002E71); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0066F9 , #002E71); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0066F9 , #002E71);
    top: 100vh;
    width: 100vw;
    height: 100vh;
    display: block;
}
.deep-water{
    z-index: 1;
    position: absolute;
    background: #002E71; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#002E71 ,black 84%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#002E71 , black 84%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#002E71 , black 84%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#002E71 , black 84%);
    top: 200vh;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: block;
}

::-webkit-scrollbar {
    display: none;
}
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #0066F9;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    z-index: 1001;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #00A2FC;

    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #44C7F5;

    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
     animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100vh;
    background: #3F3F3F;
    z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}
#loader-wrapper .loader-section.section-right {
    right: 0;
}

/* Loaded styles */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(-100%);  /* IE 9 */
            transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.7s 0.3s;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.7s 0.3s;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}
.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(100%);  /* IE 9 */
            transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.7s 0.3s;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.7s 0.3s;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}
.loaded #loader {
    opacity: 0;

    -webkit-transition: all 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */

}
.loaded #loader-wrapper {
    visibility: hidden;

    -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateY(-100%);  /* IE 9 */
            transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.3s 1s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.3s 1s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}

.slideshow{
    width: 40vw;
    min-width: 400px;
    position: absolute;
    left: 30vw;
    top: 25vh;
}



/*Last thing remaining is to add transitions*/
.slideshow>img{
    position: absolute;
    left: 0; top: 0;
    transition: all 0.5s;
}

.slideshow input[name='slide_switch'] {
    display: none;
}

.slideshow label {
    margin: 0 0 0 1vw;
    left: 4vw;
    width: 5vw;
    min-width: 50px;
    position: relative;
    border: 2px solid #AFAFAF;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s;
    opacity: 0.6;
    top: 60vh;
}

.slideshow label img{
    width: 100%;
}

/*Time to add the click effects*/
.slideshow input[name='slide_switch']:checked+label {
    border-color: #3F3F3F;
    opacity: 1;
}
/*Clicking any thumbnail now should change its opacity(style)*/
/*Time to work on the main images*/
.slideshow input[name='slide_switch'] ~ img {
    opacity: 0;
    width: 35vw;
    left: 2.5vw;
}
/*That hides all main images at a 110% size
On click the images will be displayed at normal size to complete the effect
*/
.slideshow input[name='slide_switch']:checked+label+img {
    opacity: 1;
    width: 40vw;
    min-width: 400px;
    left: 0;
}


@media only screen and (max-width: 1280px) and (max-height: 736px){
    .title{
        font-size: 42px;
    }
}
@media only screen and (max-width: 1000px){
    .slideshow{
       left: calc((100vw - 400px)/2); 
    }
    .slideshow label {
        left: 40px;
        margin: 0 0 0 10px;
    }

}

@media only screen and (max-height: 660px){
    #parallax_layer_1{
        display: none;
    }
    #parallax_layer_2{
        display: none;
    }
    #parallax_layer_3{
        bottom: -30vh;
    }
    #parallax_layer_4{
        bottom: -60vh;
    }
    #parallax_layer_5{
        bottom: -140vh;
    }
}
@media only screen and (min-height: 1200px){
    #parallax_layer_2{
        bottom: -20vh;
    }
    #parallax_layer_3{
        bottom: -20vh;
    }
    #parallax_layer_4{
        bottom: -40vh;
    }
    #parallax_layer_5{
        bottom: -80vh;
    }
}
@media only screen and (min-height: 1700px){
    #parallax_layer_2{
        bottom: -25vh;
    }
    #parallax_layer_3{
        bottom: -30vh;
    }
    #parallax_layer_4{
        bottom: -60vh;
    }
    #parallax_layer_5{
        bottom: -100vh;
    }
}
@media only screen and (min-height: 1200px) and (min-width: 1000px){
     .title{
        font-size: 120px;
    }
    .social-button {
        width: 80px;
        height: 80px;
    }
    .social-button i {
        font-size: 40px;
    }
}
@media only screen and (max-width: 767px){
    .photo{
        width: 40%;
        top: 20vh;
    }
    .about{
        top: 35vh;
    }
}
@media only screen and (max-height: 740px){
    .about{
        font-size: 16px;
    }
}
@media only screen and (max-width: 335px) and (max-height: 590px){
    #parallax_layer_0{
        bottom:-8vh;
    }
    #parallax_layer_3{
        display: none;
    }
    #parallax_layer_4{
        bottom: -80vh;
    }
    .layer{
        width:500vw;
    }

}